In [1]:
# Lab 3 - Python II - Alicia Yen

In [1]:
from functools import reduce

In [2]:
class Student(object):
    def __init__(self, id, lastName, firstName, courses=None):
        self.id = id
        self.lastName = lastName
        self.firstName = firstName
        if courses == None:
            self.courses = dict()
        else:
            assert type(courses) is dict, "Courses must be a dictionary"
            for v in courses.values():
                assert type(v) is int or type(v) is float, "Value must be a number (ex: 0.00 - 4.00)"
                assert v >= 0 and v <= 4, "Value must be between 0 and 4"
            self.courses = courses

    @property 
    def gpa(self):
        if bool(self.courses):
            count = len(self.courses)
            cumulative = reduce((lambda x,y: x+y), [grades for grades in self.courses.values()]) 
            return cumulative / count
        else:
            return 0.00
    
    def addCourse(self, course, score):
        assert type(score) is int or type(score) is float, "Value must be a number (ex: 0.00 - 4.00)"
        assert score >= 0 and score <= 4, "Value must be between 0 and 4"
        self.courses[course] = score
        
    def addCourses(self, courses):
        assert type(courses) is dict, "Courses must be a dictionary"
        self.courses.update(courses)
        
    def __str__(self):
        course_list = list(self.courses)
        return f"{self.id:<9} {self.lastName:<12} {self.firstName:<12} {self.gpa:<7,.3f} {', '.join(str(c) for c in course_list):<20}"
    
    def __repr__(self):
        return f"{self.id}, {self.lastName}, {self.firstName}, {self.courses}"
    
    def header():
        return f"{'ID':<9} {'Last Name':<12} {'First Name':<12} {'GPA':<7} {'Courses':<20} \n{'='*90}"
    
    def printStudents(students):
        print(Student.header())
        for s in students:
            print(s)

In [3]:
students = []
s1 = Student(123456, "Smith", "Johnnie")
s2 = Student(234567, "Strauss", "Jamie")
s3 = Student(345678, "O'Neill", "Jack")
s4 = Student(456789, "Marks", "Susie")
s5 = Student(567890, "Marks", "Frank")
s6 = Student(654321, "Marks", "Annie")
s7 = Student(456987, "Smith", "John", {'CSE-101': 2.50, 'CSE-103': 3.00, 'CSE-210': 3.50, 'CSE-260': 4.00})
s8 = Student(987456, "Smith", "Judy", {'CSE-102': 4.00, 'CSE-103': 4.00, 'CSE-201': 3.00, 'CSE-210': 3.50, 'CSE-310': 4.00})
s9 = Student(111354, "Williams", "Kelly", {'CSE-101': 3.50, 'CSE-102': 3.50, 'CSE-201': 3.00, 'CSE-202': 3.50, 'CSE-203': 3.50})
s10 = Student(995511, "Williams", "Brad", {'CSE-102': 3.00, 'CSE-110': 3.50, 'CSE-125': 3.50, 'CSE-201': 4.00, 'CSE-203': 3.00})

In [4]:
s1.addCourse('CSE-101', 3.50)
s1.addCourse('CSE-102', 3.00)
s1.addCourse('CSE-201', 4.00)
s1.addCourse('CSE-220', 3.75)
s1.addCourse('CSE-325', 4.00)

In [5]:
s2.addCourse('CSE-101', 3.00)
s2.addCourse('CSE-103', 3.50)
s2.addCourse('CSE-202', 3.25)
s2.addCourse('CSE-220', 4.00)
s2.addCourse('CSE-401', 4.00)

In [6]:
s3.addCourse('CSE-101',2.50)
s3.addCourse('CSE-102',3.50)
s3.addCourse('CSE-103',3.00)
s3.addCourse('CSE-104',4.00)

In [7]:
s4.addCourses({'CSE-101': 4.00, 'CSE-103': 2.50, 'CSE-301': 3.50, 'CSE-302': 3.00, 'CSE-310': 4.00})

In [8]:
s5.addCourses({'CSE-102': 4.00, 'CSE-104': 3.50, 'CSE-201': 2.50, 'CSE-202': 3.50, 'CSE-203': 3.00})

In [9]:
s6.addCourses({'CSE-101': 4.00, 'CSE-102': 4.00, 'CSE-103': 3.50, 'CSE-201': 4.00, 'CSE-203': 4.00})

In [10]:
students.append(s1)
students.append(s2)
students.append(s3)
students.append(s4)
students.append(s5)
students.append(s6)
students.append(s7)
students.append(s8)
students.append(s9)
students.append(s10)

In [11]:
Student.printStudents(students)

ID        Last Name    First Name   GPA     Courses
==========================================================================================
123456    Smith        Johnnie      3.650   CSE-101, CSE-102, CSE-201, CSE-220, CSE-325
234567    Strauss      Jamie        3.550   CSE-101, CSE-103, CSE-202, CSE-220, CSE-401
345678    O'Neill      Jack         3.250   CSE-101, CSE-102, CSE-103, CSE-104
456789    Marks        Susie        3.400   CSE-101, CSE-103, CSE-301, CSE-302, CSE-310
567890    Marks        Frank        3.300   CSE-102, CSE-104, CSE-201, CSE-202, CSE-203
654321    Marks        Annie        3.900   CSE-101, CSE-102, CSE-103, CSE-201, CSE-203
456987    Smith        John         3.250   CSE-101, CSE-103, CSE-210, CSE-260
987456    Smith        Judy         3.700   CSE-102, CSE-103, CSE-201, CSE-210, CSE-310
111354    Williams     Kelly        3.400   CSE-101, CSE-102, CSE-201, CSE-202, CSE-203
995511    Williams     Brad         3.400   CSE-102, CSE-110, CSE-125, CSE-201, CSE-203

In [12]:
students.sort(key=lambda x: (x.lastName, x.firstName))
Student.printStudents(students)

ID        Last Name    First Name   GPA     Courses
==========================================================================================
654321    Marks        Annie        3.900   CSE-101, CSE-102, CSE-103, CSE-201, CSE-203
567890    Marks        Frank        3.300   CSE-102, CSE-104, CSE-201, CSE-202, CSE-203
456789    Marks        Susie        3.400   CSE-101, CSE-103, CSE-301, CSE-302, CSE-310
345678    O'Neill      Jack         3.250   CSE-101, CSE-102, CSE-103, CSE-104
456987    Smith        John         3.250   CSE-101, CSE-103, CSE-210, CSE-260
123456    Smith        Johnnie      3.650   CSE-101, CSE-102, CSE-201, CSE-220, CSE-325
987456    Smith        Judy         3.700   CSE-102, CSE-103, CSE-201, CSE-210, CSE-310
234567    Strauss      Jamie        3.550   CSE-101, CSE-103, CSE-202, CSE-220, CSE-401
995511    Williams     Brad         3.400   CSE-102, CSE-110, CSE-125, CSE-201, CSE-203
111354    Williams     Kelly        3.400   CSE-101, CSE-102, CSE-201, CSE-202, CSE-203

In [13]:
students.sort(key=lambda x: x.gpa, reverse=True)
Student.printStudents(students)

ID        Last Name    First Name   GPA     Courses
==========================================================================================
654321    Marks        Annie        3.900   CSE-101, CSE-102, CSE-103, CSE-201, CSE-203
987456    Smith        Judy         3.700   CSE-102, CSE-103, CSE-201, CSE-210, CSE-310
123456    Smith        Johnnie      3.650   CSE-101, CSE-102, CSE-201, CSE-220, CSE-325
234567    Strauss      Jamie        3.550   CSE-101, CSE-103, CSE-202, CSE-220, CSE-401
456789    Marks        Susie        3.400   CSE-101, CSE-103, CSE-301, CSE-302, CSE-310
995511    Williams     Brad         3.400   CSE-102, CSE-110, CSE-125, CSE-201, CSE-203
111354    Williams     Kelly        3.400   CSE-101, CSE-102, CSE-201, CSE-202, CSE-203
567890    Marks        Frank        3.300   CSE-102, CSE-104, CSE-201, CSE-202, CSE-203
345678    O'Neill      Jack         3.250   CSE-101, CSE-102, CSE-103, CSE-104
456987    Smith        John         3.250   CSE-101, CSE-103, CSE-210, CSE-260

In [14]:
unique_courses = {courses for pupil in students for courses in pupil.courses}
print(unique_courses)
print(len(unique_courses))

{'CSE-101', 'CSE-401', 'CSE-110', 'CSE-104', 'CSE-210', 'CSE-203', 'CSE-260', 'CSE-201', 'CSE-302', 'CSE-325', 'CSE-125', 'CSE-103', 'CSE-202', 'CSE-301', 'CSE-220', 'CSE-310', 'CSE-102'}
17

In [15]:
cse_201_students = [
    pupil
    for pupil in students
    for courses in pupil.courses
    if 'CSE-201' in courses
]

Student.printStudents(cse_201_students)

ID        Last Name    First Name   GPA     Courses
==========================================================================================
654321    Marks        Annie        3.900   CSE-101, CSE-102, CSE-103, CSE-201, CSE-203
987456    Smith        Judy         3.700   CSE-102, CSE-103, CSE-201, CSE-210, CSE-310
123456    Smith        Johnnie      3.650   CSE-101, CSE-102, CSE-201, CSE-220, CSE-325
995511    Williams     Brad         3.400   CSE-102, CSE-110, CSE-125, CSE-201, CSE-203
111354    Williams     Kelly        3.400   CSE-101, CSE-102, CSE-201, CSE-202, CSE-203
567890    Marks        Frank        3.300   CSE-102, CSE-104, CSE-201, CSE-202, CSE-203

In [16]:
honor_roll = [
    pupil
    for pupil in students
    if pupil.gpa >= 3.50
]

Student.printStudents(honor_roll)

ID        Last Name    First Name   GPA     Courses
==========================================================================================
654321    Marks        Annie        3.900   CSE-101, CSE-102, CSE-103, CSE-201, CSE-203
987456    Smith        Judy         3.700   CSE-102, CSE-103, CSE-201, CSE-210, CSE-310
123456    Smith        Johnnie      3.650   CSE-101, CSE-102, CSE-201, CSE-220, CSE-325
234567    Strauss      Jamie        3.550   CSE-101, CSE-103, CSE-202, CSE-220, CSE-401